.navbar{
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 40px;
    margin-right: 0px;
    border-bottom: 1px solid rgba(80,80,80,0.24);
    background-color: white;
}

.button-image{
    height: 25px;
    margin-left: -1px;
}

.left-part{
    width: 10%;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.middle-part{
    display: flex;
    justify-content: center;
    flex: 1;
    display: flex;
    align-items: center;
    max-width: 650px;
}

.right-part{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    padding-right: 20px;
}

.mic-image{
    height: 25px;
}

.search-bar{
    height:35px;
    flex:1;
    border-radius: 20px 20px;
    padding-left: 12px;
    border-color: grey;
    border-width: 1px;
    border-style: solid;
    font-size: 16px;
}

.search-bar::placeholder{
    color:grey;
    font-size: 15px;
}

.search-btn{
    margin-right: 10px;
    margin-left: -40px; 
    height:39px;
    width: 65px;
    border-radius: 0px 20px 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    padding-left: 10px;
    border-color: grey;
    border-width: 1px;
}

.mic-btn{
    height: 40px;
    border-radius: 20px;
    border-style: none;
}

.hamburger-img{
    height: 24px;
    margin-right: 20px;
}
.yt-logo{
    height: 24px;
    width: 90px;
    object-fit: contain
}

.create-img{
    height: 25px;;
}

.notifications-img{
    height: 25px;

}

.profile_pic-img{
    height: 35px;
    object-fit: cover;
}

.notifications-holder{
    position: relative;
    display: flex;
    justify-content: center;

}
.notifications-number{
    position: absolute;
    top:0px;
    right: 0px;
    background-color: rgb(222, 18, 18);
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 13px;
    width: 13px;
    font-size: 10px;
}

.tooltip{
    font-size: 12px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.60);
    padding: 8px 8px 8px 8px;
    bottom: -58px;
    color: white;
    border-radius: 2px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.15s;
}

.notifications-holder:hover .tooltip{
    opacity: 1;

}
